h1,
h2,
nav {
  text-align: center;
}
p {
  margin-left: 20vh;
  text-align: justify;
}
main {
  grid-column-start: 3;
  background-color: darkgrey;
}
div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-end: 2;
  justify-content: center;
}

img,
iframe {
  padding: 5px 10px 5px 10px;
  float: left;
  margin-left: 20vh;
  width: 30vmax;
  height: 30vmax;
}
.Abajo {
  border-top: 50%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", "Arial", "sans-serif";
}

@media (min-width: 400px) and (max-width: 500px) {
  div:nth-child(2) {
    display: none;
  }
  div:nth-child(2) {
    display: block;
  }
}
@media (min-width: 700px) {
  div:nth-child(2) {
    display: none;
  }
  div:nth-child(2) {
    display: block;
  }
}
